<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" id="brand"href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      
        <% if logged_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=current_chef.chefname%>'s profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "view profile", chef_path(current_chef), class: "dropdown-item" %> </li>
            <li><%= link_to "edit profile", edit_chef_path(current_chef), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
           <li class="nav-item">
          <%= link_to "logout", logout_path, data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } , class: "dropdown-item" %>
        </li>
          </ul>
        </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dishes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "create dish", new_dish_path(current_chef), class: "dropdown-item" %> </li>
            <li><%= link_to "view all dishes", dishes_path(), class: "dropdown-item" %></li>
          </ul>
        </li>
        <%else%>
          <li class="nav-item">
            <%= link_to "login", login_path, class: "nav-link" %>
            <li><%= link_to "view all dishes", dishes_path(), class: "nav-link" %></li>
            <li><%= link_to "create chef", signup_path, class: "nav-link" %></li>
        </li>
        <%end%>

        <li class="nav-item">
          <li><%= link_to "view all chefs", chefs_path(), class: "nav-link" %></li>
        </li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ingredients
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "view all Ingredients", ingredients_path(), class: "dropdown-item" %> </li>
                <% Ingredient.all.each do |ingredient| %>
                <li><%= link_to ingredient.name.capitalize,ingredient_path(ingredient) ,class: "dropdown-item"%></li>
                <% end %>
            <li><%= link_to "create new ingredient", new_ingredient_path(), class: "dropdown-item" %></li>
          </ul>
        </li>

        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>